<html>
<head>
	<title>Login</title>  
</head>
<script>
	function loginRequest(){
		let url = "/login-request";
		let xhr = new XMLHttpRequest();
		let usn = document.getElementById("username").value.toString();
		let psw = document.getElementById("password").value.toString();
		let requestBody = {
			"username" : usn,
			"password" : psw,
			"bill" : {{bill}},
			"to_user" : {{to_user}},
			"id_order" : {{id_order}}
		}
		
		xhr.open("POST", url, true);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.send(JSON.stringify(requestBody));
		xhr.onreadystatechange = function (){
			if(xhr.readyState === XMLHttpRequest.DONE){
				const status = xhr.status;
				console.log(xhr.responseText);
				if(status === 0 || (status >= 200 && status < 400)){
					//get json responseText
					var response = JSON.parse(xhr.responseText);
					//if succesfull = true => go to next bank page
					if(response.success){
						//jolie ritornerà direttamente l'url completo
						document.location.href = response.url;
					} else {
						//else show error
						alert("credenziali errate");
					}
				}
			}
			
			
		}
	}
</script>
<body style="background: linear-gradient(75.83deg, #CD6952 0.46%, #83C5BE 73.86%);">
	<div style="margin: 65px" ">
	<img src="templates/banklogo.svg" 
		style="width:300px; 
			height:120px">
	</div>
	<div style="position: absolute;
			width:497px;
			margin-top: 80px;
			margin: 125px;
			right: 0;">
		<h1 style="font-family: Arial, Helvetica, sans-serif;
				text-align:center;
				font-style: normal;
				font-weight: 700;
				font-size: 45px;
				line-height: 54px;
				letter-spacing: 0.11em;">
			User Login
		</h1>
		<input style="background: #FFFFFF;
				border-radius: 15px;
				width: 100%;
				height: 48px;
				padding: 0 16px;
				font-size: 24px;
				color: #363135;"
		type="text" name="username" placeholder="username" id="username" >
		<input style="background: #FFFFFF;
				border-radius: 15px;
				width: 100%;
				height: 48px;
				padding: 0 16px;
				font-size: 24px;
				color: #363135;
				margin-top: 25px"
		type="password" name="password" id="password" placeholder="password">
		<button style="border-radius: 25px;
					margin-top:25px;
					background: #FFDDD2;
					text-align: center;
					height: 54px;
					width:100%;
					padding: 0 70px;
					font-size: 32px;
					border: none;" 
		onclick="loginRequest()">LOGIN</button>
	</div>
	
</body>
</html>