h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #363135;
    margin: 18px 102px;
}

h2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin: 8px 0;
}

body {
    background: #E6C660;
    background-image: url("icon/3D1A017D.jpg");
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 80%;
}

.main_card{
    width: 609px;
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 25px;
    padding: 24px 35px;
    margin: 18px 70px;
}

.line {
    margin: 20px 0;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
select{
    float:right;
    background: #FFFFFF;
    border-radius: 17px;
    margin: -8px 0;
    width: 409px;
    font-size: 24px;
    border: 6px;
    padding: 8px 16px;
}
button[type=submit]{
    border-radius: 25px;
    background: #E6C660;
    text-align: center;
    height: 36px;
    padding: 0 70px;
    font-size: 24px;
    border: none;
    color: #FFFFFF;
}
input[type=text]{
    float:right;
    background: #FFFFFF;
    border-radius: 17px;
    width: 409px;
    height: 48px;
    padding: 0 16px;
    font-size: 24px;
    color: #363135;
}
table{
    border-collapse: separate;
    border-spacing: 0 15px;
}
td{
    font-family: Arial, Helvetica, sans-serif;
    height: 66px;
    background: white;
    font-size: 24px;
}
.col1{
    width:409px;
    border-radius: 17px 0 0 17px;
    text-align: left;
    padding: 0px 23px;
}
.col2{
    text-align: right;
    width: 144px;
    padding: 0px 23px;
}
.col3{
    border-radius: 0 17px 17px 0;
    width:91px;
    background:#E4C763;
    text-align: center;
}
.col4{
     border-radius: 0 17px 17px 0;
     width:91px;
     background:#CD6952;
     text-align: center;
 }