body {
    background: #363135;
}

h1 {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #CD6952;
    margin: 18px 102px;
}

h2 {
    color: #000000;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin: 8px 0px;
}

div {
    width: 715px;
    background: rgba(245, 245, 245, 0.6);
    border-radius: 25px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 34px;
    padding-right: 34px;
    margin: 18px 70px;
}

label{
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

select{
    float:right;
    background: #FFFFFF;
    border-radius: 17px;
    width: 409px;
    font-size: 24px;
    border: 6px;
    padding: 8px 16px;
}

p {
    margin-bottom: 17px;
    margin-top: 17px;
}
